.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FA;
  }
  
  .register-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 150px;
    border-radius: 4px;
    background-color: #9BCB37;
  }



  .register-section h1 {
    display: flex;
    justify-content: center;
    color: #A12865;
    }

  
  .register-form input,
  .register-form button {
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  
  .register-form input {
    background-color: #e8e8e8;
  }
  
  .register-form button {
    background-color: #A12865;
    color: white;
    cursor: pointer;
  }
  
  .register-form input::placeholder {
    color: #A12865;
    opacity: 1;
  }
  
  .register-form button:hover {
    background-color: darken(#A12865, 10%);
  }
  
  .input-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-icon svg {
    margin-right: 10px;
    color: #A12865;
  }
  
  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    color: #A12865;
  }
  