.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Daha soft bir arka plan rengi, login ile aynı */
}

.register-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 50px; /* Daha dengeli padding */
  border-radius: 10px; /* Daha yuvarlak köşeler */
  background-color: #FFFFFF; /* Daha soft bir arka plan rengi */
  box-shadow: 0 4px 18px rgba(161, 40, 101, 0.2), 0 6px 20px rgba(161, 40, 101, 0.3); /* Kutuya gölge efekti ekliyoruz, login ile aynı */
}

.register-section h1 {
  display: flex;
  justify-content: center;
  color: #4A4A4A; /* Daha soft bir başlık rengi, login ile uyumlu */
}

.register-form input,
.register-form button {
  padding: 15px;
  border: 1px solid #ccc; /* Daha soft bir sınır */
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.register-form input {
  background-color: #e8e8e8; /* Inputlar için arka plan rengi */
}

.register-form button {
  background-color: #767676; /* Daha soft bir buton rengi */
  color: white;
  cursor: pointer;
}

.register-form input::placeholder {
  color: #767676; /* Daha soft bir placeholder rengi */
  opacity: 1; /* Safari için */
}

.register-form button:hover {
  background-color: #5a5a5a; /* Butona hover efekti, daha soft */
}

.input-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-icon svg {
  margin-right: 10px; /* İkon ile input arasında boşluk */
  color: #4A4A4A; /* Daha soft bir ikon rengi */
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 16px; /* Daha küçük font boyutu */
  color: #4A4A4A; /* Daha soft bir link rengi */
}
